* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e67e22;
  --bg-dark: #1a1a1a;
  --bg-darker: #252525;
  --text-white: #ffffff;
  --text-gray: #b3b3b3;
  --border-color: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  color: var(--text-white);
  line-height: 1.6;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header .download-cv {
  background-color: #fd6f00;
  color: #fff;
  padding: 14px 36px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 10px;
  transition: 0.3s ease;
  line-height: 100%;
  letter-spacing: 3%;
}

.header .download-cv:hover {
  background-color: #fd6f00;
  transform: translateY(-2px);
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  font-size: 24px;
  line-height: 100%;
}

.btn-primary {
  background-color: #fd6f00;
  color: var(--text-white);
}

.btn-primary:hover {
  background-color: #d96e12;
  transform: translateY(-2px);
}

.section-title {
  font-size: 65px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 3%;
  margin-bottom: 15px;
}

.section-title.center {
  text-align: center;
}
